<a href="{% url 'guitars' %}" class="btn btn-outline-black rounded-0 btn-lg">
    <div class="d-none d-md-block">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Keep Shopping</span>
    </div>
    <!--mobile view-->
    <div class="d-sm-block d-md-none">
        <span class="icon text-white">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase text-white">Keep Shopping</span>
    </div>
</a>
<a href="{% url 'checkout'%}" class="btn secure-checkout-btn">
    <div class="d-none d-md-block">
        <span class="text-uppercase">Secure Checkout</span>
        <span class="icon">
            <i class="fas fa-lock"></i>
        </span>
    </div>
    <!--mobile view-->
    <div class="d-sm-block d-md-none">
        <span class="text-uppercase text-white">Secure Checkout</span>
        <span class="icon text-white">
            <i class="fas fa-lock"></i>
        </span>
    </div>
</a>