html {
    height: 100%;
}

body {
    background: url('/media/rockstar-hero-image.jpg')no-repeat center center fixed;
    background-size: cover;
    color: white;
    height: calc(100vh - 164px);
    font-family: 'Montserrat';

}

header#top-header{
    height: 10%;
    background-color: rgb(255,0,0,0.0);
    transition: 1s ease;
    }
    
header#top-header:hover{
background-color: white;
color: black;
transition: 1s ease;
}


#search-bar {
    width: 20%;
}

footer {
    height: 6%;
    background-color: #5A3825;
    opacity: 0.7;
}

.footer-text {
    font-size: xx-small;
}