{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss%}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Sans+JP:wght@800&display=swap"
    rel="stylesheet">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  <script src="https://kit.fontawesome.com/e5835b6c0f.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}


  <title>Guitar Emporium</title>
</head>

<body>
  <header class="container-fluid fixed-top" id="top-header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <a href="{% url 'home' %}" class="nav-link main-logo-link">
          <h2 class="logo-font my-0 change">Guitar Emporium</h2>
        </a>
        <div class="d-lg-none">
        <!-- dropdown -->
        {% include 'includes/mobile-nav.html' %}
        <!-- end of dropdown -->
        </div>
      </div>
      <div>
        <ul class="nav d-none d-lg-flex">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'guitars' %}">Guitars</a>
          </li>
          <li class="list-inline-item dropdown">
            <a class="nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="text-center">
                <p class="my-0">My Account</p>
              </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
              <a href="{% url 'add_guitar' %}" class="dropdown-item">Product Management</a>
              {% endif %}
              <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
              {% else %}
              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
              {% endif %}
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Custom</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 nav d-none d-lg-flex" id="search-bar">
        <form method="GET" action="">
          <div class="input-group w-100">
            <input class="form-control border rounded-0" type="text" name="q" placeholder="Search our site">
            <div class="input-group-append">
              <button class="form-control btn border rounded-0" type="submit">
                <span class="icon">
                  <i class="fas fa-search"></i>
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="d-none d-md-flex d-lg-flex">
        <li class="list-inline-item">
          <a class="{% if grand_total %}text-info font-weight-bold{% else %}{% endif %} nav-link" href="{% url 'view_cart'%}">
            <div class="text-center">
              <div><i class="fa-solid fa-cart-shopping"></i></div>
              <p class="my-0">
                {% if grand_total %}
                ${{ grand_total|floatformat:2 }}
                {% else %}
                $0.00
                {% endif %}
              </p>
            </div>
          </a>
        </li>
      </div>
  </header>
  {% block content %}
  {% endblock %}

  <div class="modal " id="myModal" tabindex="-1">
    <div class="modal-dialog ">
      <div class="modal-content side-content">
        <div class="modal-header">
          <h5 class="modal-title">See nothing you like?</h5>
        </div>
        <div class="modal-body">
          <p>Did you know we also make custom designed guitars? Get in touch with us and we'll sort it out! Everything
            is under the <strong>Custom</strong> tab.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary close accept-btn" data-bs-dismiss="modal">Got it!</button>
        </div>
      </div>
    </div>
  </div>
  <footer class="fixed-bottom">
    <div class="d-flex justify-content-around">
      <div class="footer-text">
        Don't see anything you like?<br><a href="#">We help you create your custom
          guitar!</a>
      </div>
      <div>
        <div id="social-div">
          <p class="footer-text">Keep rocking on Facebook</p>
          <a href="#" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
        </div>
      </div>
    </div>
  </footer>
  {% block postloadjs %}
  <script type="text/javascript">
    $('.toast').toast('show');
  </script>
  <!-- When user is inactive a modal will be displayed reminding the user about the cusom service.
    this code was taken from:
    https://stackoverflow.com/questions/53108336/show-popup-when-user-is-inactive-after-5-minutes -->
  <script type="text/javascript">

    var idleTime = 0

    let span = document.getElementsByClassName("close")[0];
    let modal = document.getElementById("myModal");

    document.addEventListener('mousemove', resetIdleTime, false);
    document.addEventListener('keypress', resetIdleTime, false);

    function resetIdleTime() {
      idleTime = 0
    }


    function checkIfIdle() {
      idleTime += 1000
      console.log(idleTime)
      if (idleTime >= 5000) {
        modal.style.display = "block";
        clearInterval(idleInterval)
      }
    }

    var idleInterval = setInterval(checkIfIdle, 1000);

    span.onclick = function () { // When the user clicks on (x), close the modal
      modal.style.display = "none";
    };

    window.onclick = function (event) {  // When the user clicks anywhere outside of the modal, close it
      if (event.target == modal) {
        modal.style.display = "none";
      }
    };
  </script>
  {% endblock %}
</body>

</html>