{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container padding-top padding-bottom">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Custom Workshop</h2>
                <h5 class="text-white">Help us build your dream guitar.</h5>
                <hr>
                <p class="table-effect">Fill in the form below and our workshop will get in touch as soon as possible,<br>
                     or come down to the workshop and meet the guys and girls and we can have the consultation face to face!<br>
                    <small class="text-muted ">Opening hours: 12:00 to 16:00<br>
                    Address: workshopstreet123</small>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'custom' %}" class="form mb-2">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-right">
                        <a class="btn text-white" href="{% url 'guitars' %}">Cancel</a>
                        <button class="btn accept-btn" type="submit">Submit</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}
